# .NET Core
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
.vs/
.idea/

# Node.js & Angular
node_modules/
dist/
.angular/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.vscode/

# OS specific
.DS_Store
Thumbs.db
